@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden;
}

.home {
  height: 100vh;
  color: black;
  text-align: center;
  padding: 16% 0;
}

.title {
  font-size: 3rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: -5vh;
}